Description=Operador de Texto Ordenado

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/opt/oto/oto.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
